---
import Layout from "../layouts/Layout.astro";
---

<style>
  .wrap {
    background-color: white;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<Layout>
  <div>
    <div class="wrap">
      <div style="padding: 2em 3em; margin: auto; width: fit-content;">
        Ei tapahtumia.
      </div>
    </div>
  </div>
</Layout>
