---
import Layout from "../layouts/Layout.astro";
import { Search } from "../components/search";
---

<style>
  .main-wrap {
    margin: auto;
    display: block;
    max-width: 60em;
    background-color: white;
  }
</style>

<Layout>
  <div class="main-wrap">
    <Search client:only />
  </div>
</Layout>
