---
import Layout from "../layouts/Layout.astro";
import CalendarEvents from "../cal";
---

<Layout>
	<div class="table-wrap">
		<table>
			<tr>
				<th>Building</th>
			</tr>
			{
				CalendarEvents.keys()
					.toArray()
					.toSorted()
					.map((x) => (
						<>
							<tr>
								<td>
									<div>
										<a href={`${x}/`}>{x}</a>
									</div>
								</td>
							</tr>
						</>
					))
			}
		</table>
		<ul></ul>
	</div>
</Layout>
