input {
  display: block;
  margin: auto;
  font-size: 1.4em;
  max-width: 40em;
  width: 100%;
  height: 2em;
}

.search-wrap span {
  padding-left: 1em;
}

.search-wrap {
  margin: auto;
  display: block;
  margin-top: 1em;
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: white;
}

.day-row {
  width: 100%;
  font-weight: bold;
  border-top: 1px solid black;
  display: block;
}

.day-row.today {
  color: black;
  font-size: 1.5em;
}

.event-row.past {
  color: gray;
}


.day-row span {
  display: block;
  width: fit-content;
  margin: auto;
}

.info-row {
  width: 100%;
}

.info-row span {
  display: block;
  width: fit-content;
  margin: auto;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(1, 1, 1, 0.25);
  padding: 0.25em;
  flex-direction: row;
  gap: .255em;
}

.event-row:first-child {
  border-top: 1px solid rgba(1, 1, 1, 0.25);
}

.event-row:last-child {
  border-bottom: 0;
}

.rows-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.c1 {
  width: 6em;
  white-space: nowrap;
  display: block;
  border-radius: .25em;
  border: solid black 1px;
  padding: 0.10em 0.25em;
}

.c2 {
  width: 5.5em;
  white-space: nowrap;
  display: block;
  border-radius: .25em;
  padding: 0.10em 0.25em;
  border: solid black 1px;
  text-align: center;
}

.c3 {
  white-space: nowrap;
  border-radius: .25em;
  padding: 0.10em 0.25em;
  border: solid black 1px;
}

.c4 {
  display: flex;
}

.c4 span {
  margin: auto;
}


.c1-top {
  display: flex;
}

.c1-bot {
  display: flex;
}

@media (width < 768px) {
  .rows-wrap {
    gap: 1em;
  }

  .c1 {
    width: auto;
  }

  .c2 {
    width: auto;
  }

  .c3 {
    width: auto;
  }
}