input {
  display: block;
  margin: auto;
  font-size: 1.4em;
  max-width: 40em;
  width: 100%;
  height: 2em;
}

.search-wrap span {
  padding-left: 1em;
}

.search-wrap {
  margin: auto;
  display: block;
  padding: 1em;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

.day-row {
  width: 100%;
  font-weight: bold;
  border-top: 1px solid var(--border-color);
  display: block;
}

.day-row.today {
  color: var(--text-color-main);
  font-size: 1.5em;
}

.event-row.past {
  color: var(--text-color-disabled);
}


.day-row span {
  display: block;
  width: fit-content;
  margin: auto;
}

.info-row {
  width: 100%;
}

.info-row span {
  display: block;
  width: fit-content;
  margin: auto;
}

.event-row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--border-color-2);
  padding: 0.25em;
  flex-direction: row;
  gap: .255em;
  scroll-margin-top: 10em;
}

.event-row:first-child {
  border-top: 1px solid var(--border-color-2);
}

.event-row:last-child {
  border-bottom: 0;
}

.rows-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.c1 {
  width: 7.5em;
  white-space: nowrap;
  border-radius: .25em;
  border: solid var(--border-color) 1px;
  padding: 0.10em 0.25em;
  display: flex;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  gap: 0.3em;
}

.c1.date {
  margin-left: auto;
  width: fit-content;
}

.c2 {
  width: 7em;
  white-space: nowrap;
  display: flex;
  border-radius: .25em;
  padding: 0.10em 0.25em;
  border: solid var(--border-color) 1px;
  text-align: center;
  font-variant-numeric: tabular-nums;
  justify-content: space-around;
}

.c2 span {
  justify-content: space-around;
}

.c3 {
  white-space: nowrap;
  border-radius: .25em;
  padding: 0.10em 0.25em;
  border: solid var(--border-color) 1px;
  font-variant-numeric: tabular-nums;
}

.c4 {
  display: flex;
}

.c4 span {
  margin: auto;
}


.c1-top {
  display: flex;
}

.c1-bot {
  display: flex;
}

.loading {
  margin: auto;
  width: fit-content;
}

@media (width < 768px) {
  .rows-wrap {
    gap: 1em;
  }

  .c1 {
    width: auto;
  }

  .c2 {
    width: auto;
  }

  .c3 {
    width: auto;
  }
}