---
import "@fontsource/inter";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="background"></div>
		<slot />
	</body>
</html>
<style>
	html,
	body {
		margin: 0;
		width: 100%;
		font-family: "inter";
		height: 100%;
		font-size: 1.1em;
		scrollbar-gutter: stable;
	}

	.background {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		height: 100vh;
		width: 100vw;
		position: fixed;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		background-image: url("/exactum.jpeg");
	}
</style>
