name: Deploy
on:
    push:
        branches: [master]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v4
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Login to container registry
              uses: docker/login-action@v3
              with:
                registry: ${{secrets.REGISTRY_URL}}
                username: ${{secrets.REGISTRY_USERNAME}}
                password: ${{secrets.REGISTRY_PASSWORD}}
            - name: Docker meta
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ${{secrets.REGISTRY_URL}}/exactumkalenteri 
                tags: |
                  type=sha
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: ${{ steps.meta.outputs.tags }}
        
